#board > .element-textbox {
  outline-width: 0 !important;

  overflow-wrap: break-word;

  box-sizing: border-box;
  padding: .125rem;
  word-spacing: 2px;
  border: 2px solid transparent;
}

#board > .element-textbox > p {
  margin-top: 0;
}

#board > .show-text-container {
  overflow: hidden;
}