/*
IN THE HTML, THERE SHOULD BE A WRAPPER WITH THE CLASS '.textbox-wrapper' WITH THE ELEMENT HTML VALUE AS A CHILD
*/

.textbox-wrapper {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  box-sizing: border-box;
  display: block;
  position: absolute;
  /* top: Y; */
  /* left: X; */
  /* height: HEIGHT; */
  /* width: WIDTH; */
  margin: 0;
  padding: 2px;
  /* text-align: DEFAULT ALIGN; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-spacing: 2px;
}

.textbox-wrapper div {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
}

.textbox-wrapper > p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}